.my-nav {
    background-color: #29487d;
}

.my-nav h3 {
    color: white;
    font-size: 40px;
}

.my-nav .text {
    color: white;
    font-size: 12px;
}

.my-nav .password {
    margin-left: 55px;
}
.form-login {
    width: 470px;
}

@media only screen and (max-width:800px ){
    .form-login {

    }
}